<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Новое место размещения</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container" style="margin-top: 2vw; margin-bottom: 5vw">
        <h3 class="mt-3 mb-3">Добавление нового места размещения</h3>
        <form enctype="multipart/form-data" method="POST" class="needs-validation" novalidate style="max-width: 50vw"
              th:action="@{/stays/add}" th:object="${addStayForm}">
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <label for="name">Название</label>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Введите название" required>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}">
                            <p th:errors="*{name}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <label for="spotAmount">Количество мест</label>
                        <input name="spotAmount" min="1" type="number" class="form-control" id="spotAmount" placeholder="Введите количество мест" required>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label for="type">Тип места размещения</label>
                        <select name="type" class="custom-select border-0 px-4" id="type">
                            <option selected value="default" disabled>Выберете тип размещения из списка</option>
                            <option th:each="type : ${T(ru.edu.cathomebooking.model.StayType).values()}"
                                    th:value="${type}" th:text="${type.getTypeName()}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <label for="city">Город</label>-->
<!--                        <input name="city" type="text" class="form-control" id="city" placeholder="Введите город" required>-->
<!--                        <div class="invalid-feedback">Обязательное поле для заполнения</div>-->
<!--                    </div>-->
<!--                </div>-->
                <input name="city" type="text" class="form-control" id="city" hidden>
                <input name="longitude" type="text" class="form-control" id="longitude" hidden>
                <input name="latitude" type="text" class="form-control" id="latitude" hidden>
                <div class="col-md">
                    <div class="form-floating">
                        <label for="address">Адрес</label>
                        <input name="address" type="text" class="form-control" id="address" placeholder="Введите адрес" required>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <input type="checkbox" name = "hasToys" id = "hasToys">
                    <label for="hasToys">Есть игрушки</label>
                </div>
                <div class="col-md">
                    <input type="checkbox" name = "hasScratchingPost" id = "hasScratchingPost">
                    <label for="hasScratchingPost">Есть когтеточка</label>
                </div>
                <div class="col-md">
                    <input type="checkbox" name = "hasIndTray" id = "hasIndTray">
                    <label for="hasIndTray">Есть свой лоток</label>
                </div>
                <div class="col-md">
                    <input type="checkbox" name = "hasVideo" id = "hasVideo">
                    <label for="hasVideo">Есть видеонаблюдение</label>
                </div>
                <div class="col-md">
                    <input type="checkbox" name = "hasFood" id = "hasFood">
                    <label for="hasFood">Есть корм</label>
                </div>
                <div class="col-md">
                    <input type="checkbox" name = "isIndividualStay" id = "isIndividualStay">
                    <label for="isIndividualStay">Индивидуальное размещение</label>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <label for="description">Описание</label>
                        <textarea name="description" type="text" class="form-control overflow-auto" id="description" placeholder="Укажите описание объекта"></textarea>
                    </div>
                </div>
            </div>
            <div class="mt-3 form-floating">
                <label for="files">Загрузите фотографии</label>
                <input name="files" type="file" class="form-control form-control-sm" id="files" style="height: 35px"
                        multiple>

            </div>

            <!--            <div class="mt-3 row g-2">-->
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <label for="email">Email владельца</label>-->
<!--                        <input name="email" type="email" class="form-control" id="email" placeholder="Введите email" required>-->
<!--                        <div class="invalid-feedback">Обязательное поле для заполнения</div>-->
<!--                        <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}">-->
<!--                            <p th:errors="*{email}"></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="mt-3 row g-2">
                <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>
