<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Мои места размещения</title>
    <script th:inline="javascript">
        let flag = [[${exception}]];//переменная-флаг в thymeleaf
        window.onload = () => {
            if (flag) new bootstrap.Modal(document.getElementById('deleteStayErrorModal'), {keyboard: false}).show()
        };
    </script>
</head>
<body>
<!--<div class="container" mt-5 pt-4 style="margin-bottom: 70px">-->
<div layout:fragment="content">
    <div class="container" style="margin-top: 2vw; margin-bottom: 10vw">
        <br>
        <h1>Мои места размещения</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Адрес</th>
                <th scope="col">Общее количество мест</th>
                <th scope="col">Количество свободных мест сегодня</th>
                <th scope="col">Цены</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stay : ${stays}">
                <td>
                    <a th:href="'/stays/' + ${stay.getId()}" th:text="${stay.getName()}"></a>
                </td>
                <td th:text="${stay.getAddress()}"></td>
                <td th:text="${stay.getSpotAmount()}"></td>
                <td th:text="${stay.getSpotAmount() - stay.getOccupiedSpots()}"></td>
                <td><a th:href="'/prices/' + ${#authentication.getPrincipal().getUserId()} + '/' + ${stay.getId()}">Редактировать</a></td>
                <td>
                    <a th:href="'/stays/update/' + ${#authentication.getPrincipal().getUserId()} + '/' + ${stay.getId()}">Изменить</a>
                    <a th:href="'/stays/delete/' + ${#authentication.getPrincipal().getUserId()} + '/' + ${stay.getId()}"
                       onclick="return confirm('Вы действительно ' +
                                 'хотите удалить место размещения?')">Удалить</a>
                </td>
            </tr>

            </tbody>
        </table>

        <!--Error modal window Start-->
        <div th:if="${exception != null && exception != ''}" class="modal fade" id="deleteStayErrorModal"
             tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" th:text="${exception}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Error modal window End-->

        <!--Pagination Start-->
        <div>
            <nav aria-label="Pagination" th:if="${stays.totalPages gt 1}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${stays.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/stays/owner-stays?page={id}(id=${stays.number lt 2 ? 1 : stays.number})}"
                           aria-label="Previous" title="Предыдущая" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq stays.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, stays.totalPages, 1)}">
                        <a class="page-link" th:href="@{/stays/owner-stays?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${stays.number eq stays.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/stays/owner-stays?page={id}(id=${stays.number + 2})}"
                           aria-label="Next" title="Следующая" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--Pagination End-->
        <button type="button" class="btn btn-secondary" onclick="window.history.back()"
                style="float: bottom">Назад</button>
    </div>

</div>
</body>
</html>
