<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Изменить место размещения</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container" style="margin-top: 2vw; margin-bottom: 5vw">
        <h3 class="mt-3 mb-3">Изменить информацию о месте размещения</h3>
        <h2 th:text="${updateStayForm.getName()}"></h2>
        <form enctype="multipart/form-data" method="POST" class="needs-validation" novalidate style="max-width: 50vw"
              th:action="'/stays/update/' + ${#authentication.getPrincipal().getUserId()} + '/' + ${updateStayForm.getId()}"
              th:object="${updateStayForm}">
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <label for="name">Название</label>
                        <input name="name" type="text" class="form-control" id="name"
                               th:value="${updateStayForm.getName()}" required>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}">
                            <p th:errors="*{name}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <label for="spotAmount">Количество мест</label>
                        <input name="spotAmount" type="number" class="form-control" id="spotAmount"
                               th:min="${updateStayForm.getSpotAmount()}"
                               th:value="${updateStayForm.getSpotAmount()}" required>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label for="type">Тип места размещения</label>
                        <select name="type" class="custom-select border-0 px-4" id="type">
<!--                            <option selected th:text="${updateStayForm.getType()}"></option>-->
                            <option th:each="type : ${T(ru.edu.cathomebooking.model.StayType).values()}"
                                    th:value="${type}" th:text="${type.getTypeName()}"
                            th:attr="selected=${type.getTypeName().equals(updateStayForm.getType().getTypeName())} ? 'selected'"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <label for="city">Город</label>-->
<!--                        <input name="city" type="text" class="form-control" id="city"-->
<!--                               th:value="${updateStayForm.getCity()}" required>-->
<!--                        <div class="invalid-feedback">Обязательное поле для заполнения</div>-->
<!--                    </div>-->
<!--                </div>-->
                <input name="city" type="text" class="form-control" id="city"
                       th:value="${updateStayForm.getCity()}" hidden>
                <input name="longitude" type="text" class="form-control" id="longitude"
                       th:value="${updateStayForm.getLongitude()}" hidden>
                <input name="latitude" type="text" class="form-control" id="latitude"
                       th:value="${updateStayForm.getLatitude()}" hidden>
                <div class="col-md">
                    <div class="form-floating">
                        <label for="address">Адрес</label>
                        <input name="address" type="text" class="form-control" id="address"
                               th:value="${updateStayForm.getAddress()}" required>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <input type="checkbox" name = "hasToys" id = "hasToys"
                           th:checked="${updateStayForm.getHasToys()}">
                    <label for="hasToys">Есть игрушки</label>
                </div>
                <div class="col-md">
                    <input type="checkbox" name = "hasScratchingPost" id = "hasScratchingPost"
                           th:checked="${updateStayForm.getHasScratchingPost()}">
                    <label for="hasScratchingPost">Есть когтеточка</label>
                </div>
                <div class="col-md">
                    <input type="checkbox" name = "hasIndTray" id = "hasIndTray"
                           th:checked="${updateStayForm.getHasIndTray()}">
                    <label for="hasIndTray">Есть свой лоток</label>
                </div>
                <div class="col-md">
                    <input type="checkbox" name = "hasVideo" id = "hasVideo"
                           th:checked="${updateStayForm.getHasVideo()}">
                    <label for="hasVideo">Есть видеонаблюдение</label>
                </div>
                <div class="col-md">
                    <input type="checkbox" name = "hasFood" id = "hasFood"
                           th:checked="${updateStayForm.getHasFood()}">
                    <label for="hasFood">Есть корм</label>
                </div>
                <div class="col-md">
                    <input type="checkbox" name = "isIndividualStay" id = "isIndividualStay"
                           th:checked="${updateStayForm.getIsIndividualStay()}">
                    <label for="isIndividualStay">Индивидуальное размещение</label>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <label for="description">Описание</label>
                        <textarea name="description" type="text" class="form-control overflow-auto" id="description"
                                  th:text="${updateStayForm.getDescription()}"></textarea>
                    </div>
                </div>
            </div>
<!--            <div style="margin-top: 2vw; margin-bottom: 5vw" class="row"-->
<!--                 th:if="${updateStayForm.getPhotoUrls() != null && !updateStayForm.getPhotoUrls().isEmpty()}">-->
<!--                <div class="col-md-2" style="margin: 2px" th:each="photoUrl : ${updateStayForm.getPhotoUrls()}">-->
<!--                    <div class="container-update">-->
<!--                        <img th:src="${photoUrl}" th:alt="'Место размещения ' + ${updateStayForm.getName()}"-->
<!--                             style="height: 5vw; float: left;" class="image-update">-->
<!--                        <div class="close align-middle overlay" aria-label="Close" aria-hidden="true">&times;</div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="mt-3 form-floating">
                <label for="files">Загрузите фотографии</label>
                <input name="files" type="file" class="form-control form-control-sm" id="files" style="height: 35px"
                       multiple>

            </div>

            <!--            <div class="mt-3 row g-2">-->
            <!--                <div class="col-md">-->
            <!--                    <div class="form-floating">-->
            <!--                        <label for="email">Email владельца</label>-->
            <!--                        <input name="email" type="email" class="form-control" id="email" placeholder="Введите email" required>-->
            <!--                        <div class="invalid-feedback">Обязательное поле для заполнения</div>-->
            <!--                        <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}">-->
            <!--                            <p th:errors="*{email}"></p>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="mt-3 row g-2">
                <button type="submit" class="btn btn-primary" onclick="validateForm()">Обновить информацию</button>
                <button type="reset" style="float: left" class="btn btn-secondary">Отмена</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>
