<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Доступные места размещения</title>
</head>
<body>
<div layout:fragment="content">

    <!--Search for stays Start-->
    <h3 style="margin-left: 4vw;">Поиск места размещения</h3>
    <form method="POST" class="needs-validation" novalidate th:action="@{/stays/findAvailableStays}"
          th:object="${searchForm}" style="width: 90vw; margin-left: 15vw;">
        <br>
        <div class="mt-0 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <small class="form-text text-muted">Кошки</small>
                    <input name="catAmount" type="number" min="1" class="form-control"
                           th:value="${searchForm.getCatAmount}" required>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <small class="form-text text-muted">Дата начала брони</small>
                    <input name="dateBegin"  type="date" th:attr="min=${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
                           class="form-control" th:value="${searchForm.getDateBegin}" required
                           id="dateBegin">
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <small class="form-text text-muted">Дата окончания брони</small>
                    <input name="dateEnd" type="date" th:attr="min=${#temporals.format(#temporals.createNow().plusDays(1), 'yyyy-MM-dd')}"
                           class="form-control" th:value="${searchForm.getDateEnd}" required
                           id="dateEnd" oninput="compareDates()">
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <small class="form-text text-muted">Город</small>
                    <select class="custom-select border-0 px-4" style="height: 40px;" name="city" id="city" required>
                        <!--                        <option selected disabled>Выберите город</option>-->
                        <option th:each="city : ${stayCities}" th:value="${city.getCityName()}"
                                th:text="${city.getCityName()}"
                                th:attr="selected=${city.getCityName().equals(searchForm.getCity())} ? 'selected'">

                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md" style="padding-top: 1vw">
                <button type="submit" class="btn btn-secondary" onclick="validateForm()"
                        style="height: 40px; float: bottom;">Найти</button>
            </div>
        </div>
        <br>
    </form>
    <!--Search for stays End-->

    <!-- Available Stays Start -->
    <div class="container-fluid pt-3 pb-4">
        <div>
            <h4 th:if="${availableStaysAttr.isEmpty()}" style="padding-left: 15vw">Результатов не найдено</h4>
        </div>

        <div>
            <p class="search-results-count" style="padding-left: 15vw" th:if="${!availableStaysAttr.isEmpty()}"
               th:text="'Найдено ' + ${availableStaysAttr.getTotalElements()} + ' результатов'"></p>
            <section class="search-result-item" style="padding-left: 15vw; padding-bottom: 2vw;" th:each="stay : ${availableStaysAttr}">
                <form method="POST" th:object="${bookingRequestForm}" th:action="@{/bookings/bookingRequest}">
                    <input name="stayId" hidden th:value="${stay.getId}"/>
                    <input name="totalCost" hidden th:value="${stay.getTotalCost()}"/>
                    <input name="dateBegin" hidden th:value="${searchForm.getDateBegin}"/>
                    <input name="dateEnd" hidden th:value="${searchForm.getDateEnd}"/>
                    <input name="catAmount" id="catAmount" hidden th:value="${searchForm.getCatAmount}"/>
                    <div class="search-result-item-body">
                        <div class="row">
                            <div class="col-md-4">

                                <!--Photo Carousel Start-->
                                <div th:attr="id='header-carousel-' + ${stay.getId()}" class="carousel slide" data-interval="false" data-ride="carousel" th:if="${stay.getPhotoUrls() != null && !stay.getPhotoUrls().isEmpty()}">
                                    <div class="carousel-inner">
                                        <div class="carousel-item" th:each="photo, count : ${#strings.arraySplit(stay.getPhotoUrls(), ',')}"
                                             th:classappend="${count.index} == 0 ? 'active' : ''">
                                            <img class="w-100" th:src="${photo}" th:alt="'Место размещения ' + ${photo}"
                                                 style="height: 20vw;">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" th:attr="href='#header-carousel-' + ${stay.getId()}" data-slide="prev">
                                        <div class="btn btn-primary rounded" style="width: 45px; height: 45px;">
                                            <span class="carousel-control-prev-icon mb-n2"></span>
                                        </div>
                                    </a>
                                    <a class="carousel-control-next" th:attr="href='#header-carousel-' + ${stay.getId()}" data-slide="next">
                                        <div class="btn btn-primary rounded" style="width: 45px; height: 45px;">
                                            <span class="carousel-control-next-icon mb-n2"></span>
                                        </div>
                                    </a>
                                </div>
                                <!--Photo Carousel End-->

                                <div th:if="${stay.getPhotoUrls() == null || stay.getPhotoUrls().isEmpty()}" >
                                    <img src="/img/icons/no_photo_icon.jpg">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="search-result-item-heading" th:text="${stay.getName()}"><a href="#"></a></h4>
                                <p class="info" th:text="${stay.getAddress()}"></p>
                                <div>
                                    <img title="Еда" src="/img/icons/food_icon.png" th:if="${stay.getHasFood()}" style="float: left; height: 3vw"/>
                                    <img title="Индивидуальный туалет" src="/img/icons/litter_box_icon.png" th:if="${stay.getHasIndTray()}" style="float: left; height: 3vw"/>
                                    <img title="Когтеточка" src="/img/icons/scratching_post_icon.png" th:if="${stay.getHasScratchingPost()}" style="float: left; height: 3vw"/>
                                    <img title="Игрушки" src="/img/icons/toys_icon.png" th:if="${stay.getHasToys()}" style="float: left; height: 3vw"/>
                                    <img title="Индивидуальное размещение" src="/img/icons/ind_stay_icon.png" th:if="${stay.getIndividualStay()}" style="float: left; height: 3vw"/>
                                    <img title="Видеонаблюдение" src="/img/icons/video_icon.jpg" th:if="${stay.getHasVideo()}" style="float: left; height: 3vw"/>
                                </div>
                                <br>
                                <br>
                                <p class="description" th:text="${stay.getDescription()}"></p>
                            </div>
                            <div class="col-md-2 text-align-center">
                                <p class="value3 mt-sm" th:text="${stay.getTotalCost() + ' руб.'}"></p>
                                <p class="fs-mini text-muted">Общая стоимость</p>
                                <button type="submit" class="btn btn-primary">Забронировать</button>
                                <a type="button" class="btn btn-secondary" th:href="'/stays/' + ${stay.getId()}">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>

        <!--Pagination Start-->
        <div>
            <nav aria-label="Pagination" th:if="${availableStaysAttr.totalPages gt 1}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${availableStaysAttr.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/stays/availableStays?page={id}(id=${availableStaysAttr.number lt 2 ? 1 : availableStaysAttr.number})}"
                           aria-label="Previous" title="Предыдущая" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq availableStaysAttr.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, availableStaysAttr.totalPages, 1)}">
                        <a class="page-link" th:href="@{/stays/availableStays?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${availableStaysAttr.number eq availableStaysAttr.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/stays/availableStays?page={id}(id=${availableStaysAttr.number + 2})}"
                           aria-label="Next" title="Следующая" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--Pagination End-->
    </div>
</div>
<!-- Available Stays End -->

</div>
</body>
</html>





