<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${stay.getName()}"></title>
</head>
<body>
<!--<div class="container" mt-5 pt-4 style="margin-bottom: 70px">-->
<div layout:fragment="content" style="margin-top: 2vw; margin-bottom: 5vw">
    <div class="container">
        <h2 th:text="${stay.getName()}"></h2>
        <div class="row">
            <div class="col-md-6">
                <!--Photo Carousel Start-->
                <div id="header-carousel" class="carousel slide" data-interval="false" data-ride="carousel" th:if="${stay.getPhotoUrls() != null && !stay.getPhotoUrls().isEmpty()}">
                    <div class="carousel-inner">
                        <div class="carousel-item" th:each="photoUrl, count : ${stay.getPhotoUrls()}"
                             th:classappend="${count.index} == 0 ? 'active' : ''">
                            <img th:src="${photoUrl}" th:alt="'Место размещения ' + ${stay.getName()}"
                                 style="height: 30vw">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-primary rounded" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-primary rounded" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
                <!--Photo Carousel End-->

                <div th:if="${stay.getPhotoUrls() == null || stay.getPhotoUrls().isEmpty()}" >
                    <img src="/img/icons/no_photo_icon.jpg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mt-3 row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <label for="address">Адрес</label>
                            <a href="#map">посмотреть на карте</a>
                            <p class="form-control"
                               th:text="${stay.getAddress()}" id="address">
                        </div>
                        <img title="Еда" src="/img/icons/food_icon.png" th:if="${stay.getHasFood()}" style="float: left; height: 3vw"/>
                        <img title="Индивидуальный туалет" src="/img/icons/litter_box_icon.png" th:if="${stay.getHasIndTray()}" style="float: left; height: 3vw"/>
                        <img title="Когтеточка" src="/img/icons/scratching_post_icon.png" th:if="${stay.getHasScratchingPost()}" style="float: left; height: 3vw"/>
                        <img title="Игрушки" src="/img/icons/toys_icon.png" th:if="${stay.getHasToys()}" style="float: left; height: 3vw"/>
                        <img title="Индивидуальное размещение" src="/img/icons/ind_stay_icon.png" th:if="${stay.getIsIndividualStay()}" style="float: left; height: 3vw"/>
                        <img title="Видеонаблюдение" src="/img/icons/video_icon.jpg" th:if="${stay.getHasVideo()}" style="float: left; height: 3vw"/>
                    </div>
                </div>
                <div class="mt-3 row g-2">
                    <div class="col-md">
                        <label for="description">Описание:</label>
                        <p id="description" th:text="${stay.getDescription()}"></p>
                    </div>
                </div>
            </div>
            <div>
                <input id = "lat" th:value="${stay.getLatitude()}" hidden/>
                <input id = "lon" th:value="${stay.getLongitude()}" hidden/>
                <div id="map" class="map"></div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" style="float: right" onclick="window.history.back()">Назад</button>
    </div>
</div>
</body>
</html>
