<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="footer">

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white px-sm-3 px-md-5">
        <div class="row pt-3">
            <div class="col-lg-4 col-md-12 mb-2">
                <h1 class="mb-3 display-5 text-capitalize text-white"><span class="text-primary">Кошкин</span>Дом</h1>
                <p class="m-0">Интуитивно понятный поиск и моментальное бронирование места временного размещения для
                    вашей кошки стали удобнее. Указывайте нужную дату, срок пребывания, город и получайте широкий перечень
                    предложений на любой вкус. Бронируйте и просматривайте заявки на нашем сайте.</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-2">
                        <h5 class="text-primary mb-4">Контакты</h5>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>Настасьинский переулок, 3<br>Москва, Россия</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+7-495-200-3550</p>
                        <p><i class="fa fa-envelope mr-2"></i>info@cathouse.ru</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="/in-development"><i class="fab fa-vk"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="/in-development"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <h5 class="text-primary mb-4">Ссылки</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Главная</a>
                            <a class="text-white mb-2" href="/#about_us"><i class="fa fa-angle-right mr-2"></i>О нас</a>
                            <a class="text-white mb-2" href="/#booking_form"
                               sec:authorize="!isAuthenticated() || (hasRole('CAT_OWNER'))">
                                <i class="fa fa-angle-right mr-2"></i>Забронировать</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <h5 class="text-primary mb-4">Подписаться на новости</h5>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control border-0" placeholder="Имя" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0" placeholder="Email" required="required" />
                            </div>
                            <div>
                                <button class="btn btn-lg btn-primary btn-block border-0" type="submit">Подписаться</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">
                    &copy; <a class="text-white font-weight-bold" href="index.html">Кошкин Дом</a>. All Rights Reserved. Designed by
                    <a class="text-white font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
            <div class="col-md-6 text-center text-md-right pt-sm-0">
                <ul class="nav d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="/users/profile" sec:authorize="isAuthenticated() && (!hasRole('ADMIN'))">Личный кабинет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="/in-development">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="/in-development">Поддержка</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!--    <div class="container-fluid text-white py-4 px-sm-3 px-md-5" style="background: #111111;">-->
<!--        <div class="row">-->
<!--            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">-->
<!--                <p class="m-0 text-white">-->
<!--                    &copy; <a class="text-white font-weight-bold" href="index.html">Кошкин Дом</a>. All Rights Reserved. Designed by-->
<!--                    <a class="text-white font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="col-md-6 text-center text-md-right pt-sm-0">-->
<!--                <ul class="nav d-inline-flex">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link text-white py-0" href="/users/guest-profile" sec:authorize="isAuthenticated() && (hasRole('CAT_OWNER'))">Личный кабинет</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link text-white py-0" href="/in-development">FAQs</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link text-white py-0" href="/in-development">Поддержка</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Footer End -->

</div>