<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="header">

    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-lg-5">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white pr-3" href="/in-development">FAQs</a>
                    <span class="text-white">|</span>
                    <a class="text-white px-3" href="/in-development">Поддержка</a>
                    <span sec:authorize="isAuthenticated() && (!hasRole('ADMIN'))" class="text-white">|</span>
                    <a class="text-white pl-3" href="/users/profile" sec:authorize="isAuthenticated() && (!hasRole('ADMIN'))">Личный кабинет</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-3" href="/in-development">
                        <i class="fab fa-vk"></i>
                    </a>
                    <a class="text-white pl-3" href="/in-development">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row py-3 px-lg-5">
            <div class="col-lg-4">
                <a href="/" class="navbar-brand d-none d-lg-block">
                    <h1 class="m-0 display-5 text-capitalize"><span class="text-primary">Кошкин</span>Дом</h1>
                </a>
            </div>
            <div class="col-lg-8 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="d-inline-flex flex-column text-center pr-3 border-right">
                        <h6>Время работы поддержки</h6>
                        <p class="m-0">8:00 - 21:00 МСК</p>
                    </div>
                    <div class="d-inline-flex flex-column text-center px-3 border-right">
                        <h6>Напишите нам</h6>
                        <p class="m-0">info@cathouse.ru</p>
                    </div>
                    <div class="d-inline-flex flex-column text-center pl-3">
                        <h6>Звоните</h6>
                        <p class="m-0">+7-495-200-3550</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
            <a href="/" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">Кошкин</span>Дом</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    <a href="/" class="nav-item nav-link active">Главная</a>
                    <a href="/#about_us" class="nav-item nav-link">О нас</a>
                    <div class="nav-item dropdown" sec:authorize="isAuthenticated() && (!hasRole('ADMIN'))">
                        <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Личный кабинет</a>
                        <div class="dropdown-menu rounded-0 m-0" sec:authorize="isAuthenticated() && (hasRole('CAT_OWNER'))">
                            <a href="/users/profile" class="dropdown-item">Моя информация</a>
                            <a href="/bookings" class="dropdown-item">Мои бронирования</a>
                        </div>
                        <div class="dropdown-menu rounded-0 m-0" sec:authorize="isAuthenticated() && (hasRole('STAY_OWNER'))">
                            <a href="/users/profile" class="dropdown-item">Моя информация</a>
                            <a href="/stays/owner-stays" class="dropdown-item">Мои места размещения</a>
                            <a href="/bookings" class="dropdown-item">Мои бронирования</a>
                        </div>
                    </div>
                    <a href="/#booking_form" class="nav-item nav-link" sec:authorize="!isAuthenticated() || (hasRole('CAT_OWNER'))">Забронировать</a>
                    <a th:href="@{/stays/add}" sec:authorize="isAuthenticated() && (hasRole('STAY_OWNER'))" class="nav-item nav-link">Добавить место размещения</a>
                </div>
                <form class="d-flex" sec:authorize="isAuthenticated()">
                    <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                </form>
                <a href="/login" class="nav-item nav-link active"  sec:authorize="!isAuthenticated()">Регистрация<br>или вход</a>
                <a href="/logout" class="nav-item nav-link active"  sec:authorize="isAuthenticated()">Выйти</a>

            </div>
        </nav>
    </div>
    <!-- Navbar End -->
</div>