<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
<!--<div class="container" mt-5 pt-4 style="margin-bottom: 70px">-->
<div layout:fragment="content" style="margin-top: 2vw; margin-bottom: 5vw">
            <form method="POST" class="needs-validation" novalidate th:action="@{/users/update-user-info}" th:object="${userProfile}">
                <div class="container">
                    <div class="row gutters">
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="account-settings">
                                        <div class="user-profile">
                                            <div class="user-avatar">
                                                <img src="/img/cat_owner_icon.jpg" alt="Иконка человека с кошкой" style="width: 15vw">
                                            </div>
                                            <h5 class="user-name" th:text="${userProfile.getFirstName().concat(' ').concat(userProfile.getLastName())}"></h5>
                                            <h6 class="user-email" th:text="${userProfile.getEmail()}"></h6>
                                            <a type="button" th:href="@{/bookings}"
                                               sec:authorize="isAuthenticated() && (!hasRole('ADMIN'))"class="btn btn-primary"
                                            style="margin-top: 2vw">Мои бронирования</a>
<!--                                            <a type="button" th:href="@{/bookings}"-->
<!--                                               sec:authorize="isAuthenticated() && (hasRole('STAY_OWNER'))"class="btn btn-primary"-->
<!--                                               style="margin-top: 2vw">Мои бронирования</a>-->
                                            <a type="button" th:href="@{/stays/owner-stays}"
                                               sec:authorize="isAuthenticated() && (hasRole('STAY_OWNER'))"class="btn btn-primary"
                                               style="margin-top: 2vw">Мои места размещения</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Личная информация</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="firstName">Имя</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName"
                                    th:value="${userProfile.getFirstName()}" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="lastName">Фамилия</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName"
                                    th:value="${userProfile.getLastName()}" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="middleName">Отчество</label>
                                    <input type="text" class="form-control" id="middleName" name="middleName"
                                           th:value="${userProfile.getMiddleName()}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="birthDate">Дата рождения</label>
                                    <input type="date" class="form-control" id="birthDate" name="birthDate"
                                           th:value="${userProfile.getBirthDate()}">
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Контактная информация</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Телефон</label>
                                    <input type="text" class="form-control" id="phone" name="phone"
                                    th:value="${userProfile.getPhone()}" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="city">Город</label>
                                    <input type="text" class="form-control" id="city" name="city"
                                           th:value="${userProfile.getCity()}">
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Учетные данные</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="email">email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                           th:value="${userProfile.getEmail()}">
                                    <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" style="height: 3vw">
                                        <p th:errors="*{email}"></p>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">-->
<!--                                <div class="form-group">-->
<!--                                    <label for="login">Логин</label>-->
<!--                                    <input type="text" class="form-control" id="login" name="login"-->
<!--                                           th:value="${userProfile.getLogin()}" readonly>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <a sec:authorize="isAuthenticated() && (!hasRole('ADMIN'))"
                                       th:href="'/users/change-password/user'"
                                       class="btn btn-light"
                                       aria-disabled="true" style="float: left">Изменить пароль</a>
                                    <button type="reset" class="btn btn-secondary">Отмена</button>

<!--                                    th:if="${#authentication.getPrincipal().getUserId()} == ${userProfile.getId()}"-->
                                    <button sec:authorize="isAuthenticated() && (!hasRole('ADMIN'))"
                                            type="submit" id="submit" name="submit" class="btn btn-primary"
                                            onclick="validateForm()">Обновить информацию</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            </form>


</div>
</body>
</html>