<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Ошибка</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container" style="margin-top: 2vw; margin-bottom: 5vw">
        <h1 class="mt-3">Что-то пошло не так! </h1>
        <h2 class="mt-1">Мы уже устраняем ошибку.</h2>
        <p th:if="${exception != null}" th:text="${exception}"></p>
        <h5><a href="/">На главную</a></h5>
        <img src="/img/error.jpg" alt="Кот лежит на спине, лапы вверх иконка"/>
    </div>
</div>
</body>
</html>

