<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Кошкин Дом</title>
</head>
<body>
    <div layout:fragment="content">

    <!-- Carousel Start -->
<!--    <div class="container-fluid p-0">-->
<!--        <div id="header-carousel" class="carousel slide" data-ride="carousel">-->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="/img/carousel-1.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h3 class="text-white mb-3 d-none d-sm-block">Уезжаете?</h3>
                            <h1 class="display-3 text-white mb-3">Найдите временный дом для кошки</h1>
                            <h5 class="text-white mb-3 d-none d-sm-block">Вы можете выбрать кототель или передержку по лучшим ценам</h5>
                            <a href="#booking_form" sec:authorize="!isAuthenticated() || (hasRole('CAT_OWNER'))" class="btn btn-lg btn-primary mt-3 mt-md-4 px-4">Найти место размещения</a>
                            <a href="#about_us" class="btn btn-lg btn-secondary mt-3 mt-md-4 px-4">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
<!--        </div>-->
<!--    </div>-->
    <!-- Carousel End -->

    <!-- Booking Start -->
    <div class="container-fluid bg-light" id="booking_form" sec:authorize="!isAuthenticated() || (hasRole('CAT_OWNER'))"
         style="padding: 7vw">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="bg-primary py-5 px-4 px-sm-5">
                        <form class="py-5 needs-validation" method="POST" th:action="@{/stays/findAvailableStays}"
                        th:object="${searchForm}" novalidate>
                            <div class="form-group">
                                <small class="form-text text-muted">Кошки</small>
                                <input name="catAmount" type="number" min="1" class="form-control border-0 p-4" placeholder="Количество кошек" required />
                            </div>
                            <div class="form-group">
                                <div class="date" id="date">
                                    <small class="form-text text-muted">Дата начала брони</small>
                                    <input name="dateBegin" type="date" th:attr="min=${#temporals.format(#temporals.createToday(), 'yyyy-MM-dd')}"
                                           class="form-control border-0 p-4" placeholder="Дата начала брони" required
                                           id="dateBegin"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="form-text text-muted">Дата окончания брони</small>
                                <input name="dateEnd" type="date"
                                       th:attr="min=${#temporals.format(#temporals.createToday().plusDays(1), 'yyyy-MM-dd')}"
                                       class="form-control border-0 p-4" placeholder="Дата окончания брони" required
                                       id="dateEnd" onchange="compareDates()"/>


                            </div>
                            <div class="form-group">
                                <small class="form-text text-muted">Город</small>
                                <select name="city" class="custom-select border-0 px-4" style="height: 47px;" required>
                                    <option selected disabled>Город</option>
                                    <option th:each="city : ${stayCities}" th:value="${city.getCityName()}"
                                            th:text="${city.getCityName()}"></option>
                                </select>
                            </div>
                            <div>
                                <button class="btn btn-dark btn-block border-0 py-3" type="submit" onclick="validateForm()">
                                            Найти</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
                    <h4 class="text-secondary mb-3">Уезжаете в отпуск или по делам?</h4>
                    <h1 class="display-4 mb-4">Найдите местечко<span class="text-primary"> для своего питомца</span></h1>
                    <p>На сайте представлены проверенные места размещения, где о нем позаботятся, пока Вы в отъезде</p>
                    <div class="row py-2">
                        <div class="col-sm-6">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center mb-2">
                                    <h1 class="flaticon-house font-weight-normal text-secondary m-0 mr-3"></h1>
                                    <h5 class="text-truncate m-0">Размещение</h5>
                                </div>
                                <p>Индивидуальное или в группе с другими кошками, чтобы не заскучать</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center mb-2">
                                    <h1 class="flaticon-food font-weight-normal text-secondary m-0 mr-3"></h1>
                                    <h5 class="text-truncate m-0">Кормление</h5>
                                </div>
                                <p>Некоторые предложения предполагают наличие корма, другие с удовольствием используют Ваш</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center mb-2">
                                    <h1 class="flaticon-grooming font-weight-normal text-secondary m-0 mr-3"></h1>
                                    <h5 class="text-truncate m-0">Уход за животным</h5>
                                </div>
                                <p class="m-0">Если кошке нужен дополнительный уход, Вы сможете договориться об этом</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center mb-2">
                                    <h1 class="flaticon-toy font-weight-normal text-secondary m-0 mr-3"></h1>
                                    <h5 class="text-truncate m-0">Игрушки</h5>
                                </div>
                                <p class="m-0">96% мест размещений предлагают игрушки для кошек, но не забудьте и свои</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Booking Start -->


    <!-- About Start -->
    <div class="container py-5" id="about_us" style="padding: 7vw">
        <div class="row py-5">
            <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5" sec:authorize="!isAuthenticated() || (hasRole('CAT_OWNER'))">
                <h4 class="text-secondary mb-3">О нас</h4>
                <h1 class="display-4 mb-4"><span class="text-primary">Кототели</span> & <span class="text-secondary">Передержки</span></h1>
                <h5 class="text-muted mb-3">Интуитивно понятный поиск и моментальное бронирование места временного размещения для вашей кошки стали удобнее. Указывайте нужную дату, срок пребывания, город и получайте широкий перечень предложений на любой вкус. Бронируйте и просматривайте заявки на нашем сайте.</h5>
                <p class="mb-4">Большое количество зоогостиниц и передержек на дому. Здесь Вы сможете ознакомиться с предлжениями, ценами и услугами, которые они предлагают</p>
                <ul class="list-inline">
                    <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Все места размещения на одном сайте</h5></li>
                    <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Удобство и скорость бронирования</h5></li>
                    <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>24/7 Поддержка</h5></li>
                </ul>
            </div>
            <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5" sec:authorize="hasRole('STAY_OWNER')">
                <h4 class="text-secondary mb-3">О нас</h4>
                <h1 class="display-4 mb-4"><span class="text-primary">Кототели</span> & <span class="text-secondary">Передержки</span></h1>
                <h5 class="text-muted mb-3">Которазмещатели стали ближе. Просто зарегистрируйтесь на нашем сайте, добавьте Ваше место размещения, укажите цены, напишите подробное описание, и которазмещатель сможет найти именно то, что искал - Вас.</h5>
                <p class="mb-4">Теперь которазмещателю не нужно искать Вас по всему интернету, он легко и быстро найдет Ваше место размещения на нашем сайте. А Вы с легкостью сможете отслеживать и управлять своими местами размещения и получаемыми бронироованиями.</p>
                <ul class="list-inline">
                    <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Которазмещатель Вас найдет</h5></li>
                    <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Удобство добавления места размещения</h5></li>
                    <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>24/7 Поддержка</h5></li>
                </ul>
            </div>
            <div class="col-lg-5">
                <div class="row px-3">
                    <div class="col-12 p-0">
                        <img class="img-fluid w-100" src="/img/about-1.jpg" alt="">
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" src="/img/about-2.jpg" alt="">
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" src="/img/about-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    </div>
</body>

</html>