<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Бронирования</title>
    <script th:inline="javascript">
        let flag = [[${exception}]];//переменная-флаг в thymeleaf
        window.onload = () => {
            if (flag) new bootstrap.Modal(document.getElementById('cancelBookingErrorModal'), {keyboard: false}).show()
        };
    </script>
</head>
<body>
<!--<div class="container" mt-5 pt-4 style="margin-bottom: 70px">-->
<div layout:fragment="content">
    <div class="container" style="margin-top: 2vw; margin-bottom: 10vw">
        <br>
    <h1>Мои бронирования</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Адрес</th>
            <th scope="col" style="width: 10vw">Дата начала</th>
            <th scope="col" style="width: 10vw">Дата окончания</th>
            <th scope="col">Количество кошек</th>
            <th scope="col">Общая стоимость, руб.</th>
            <th scope="col">Статус</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking : ${bookings}">
            <td>
                <a th:text="${booking.getName()}" th:href="'/stays/' + ${booking.getStayId()}"></a>
            </td>
            <td th:text="${booking.getAddress()}"></td>
            <td th:text="${#temporals.format(booking.getDateBegin(), 'dd.MM.yyyy')}"></td>
            <td th:text="${#temporals.format(booking.getDateEnd(), 'dd.MM.yyyy')}"></td>
            <td th:text="${booking.getCatAmount()}"></td>
            <td th:text="${booking.getTotalCost()}"></td>
            <td th:text="${booking.isCanceled() ? 'Отменено' :
                (booking.getDateEnd().isBefore(#temporals.createToday()) ?
                    'Завершено' :
                (booking.getDateEnd().isAfter(#temporals.createToday().minusDays(1)) &&
                booking.getDateBegin().isBefore(#temporals.createToday().plusDays(1)) ?
                'Текущее' : ''))}"></td>
            <td>
                <a th:href="'/bookings/cancel/' + ${booking.getBookingId()}" th:if="${!booking.isCanceled() && booking.getDateBegin().isAfter(#temporals.createToday())}"
                   onclick="return confirm('Вы действительно ' +
                                 'хотите отменить бронирование?')">Отменить</a>
            </td>
        </tr>

        </tbody>
    </table>

        <!--Error modal window Start-->
        <div th:if="${exception != null && exception != ''}" class="modal fade" id="cancelBookingErrorModal"
             tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" th:text="${exception}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Error modal window End-->

        <!--Pagination Start-->
        <div>
            <nav aria-label="Pagination" th:if="${bookings.totalPages gt 1}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${bookings.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/bookings?page={id}(id=${bookings.number lt 2 ? 1 : bookings.number})}"
                           aria-label="Previous" title="Предыдущая" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq bookings.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, bookings.totalPages, 1)}">
                        <a class="page-link" th:href="@{/bookings?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${bookings.number eq bookings.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/bookings?page={id}(id=${bookings.number + 2})}"
                           aria-label="Next" title="Следующая" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--Pagination End-->
    <button type="button" class="btn btn-secondary" onclick="window.history.back()"
            style="float: bottom">Назад</button>
    </div>

</div>
</body>
</html>
