<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Мои цены</title>
    <script th:inline="javascript">
        let flag = [[${exception}]];//переменная-флаг в thymeleaf
        window.onload = () => {
            if (flag) new bootstrap.Modal(document.getElementById('addPeriodErrorModal'), {keyboard: false}).show()
        };
    </script>

</head>
<body>
<!--<div class="container" mt-5 pt-4 style="margin-bottom: 70px">-->
<div layout:fragment="content">
    <div class="container" style="margin-top: 2vw; margin-bottom: 10vw">
        <br>
        <h2 th:text="${stay.getName()}"></h2>
        <form method="POST" class="needs-validation" novalidate
              th:action="'/prices/update/default/' + ${#authentication.getPrincipal().getUserId()} + '/' + ${stay.getId()}"
              th:object="${defaultPrice}">
            <div class="container" style="margin-top: 2vw; margin-bottom: 5vw">
                <div class="row">
                    <div class="col-md-3">
                        <label for="defaultPrice">Основная цена</label>
                        <input name="price" id="defaultPrice" type="number" step="0.01" min="1" class="form-control"
                               style="margin-top: 2px; margin-bottom: 5px"
                               th:value="${defaultPrice == null ? 0 : defaultPrice.getPrice()}" required/>
                        <button type="submit" class="btn btn-primary" onclick="validateForm()">Изменить цену</button>
                    </div>
                    <div class="col-md-7">
                        <details>
                            <summary>Инфо основная цена</summary>
                            <p>Цена за сутки, которая используется по умолчанию для всех дней, кроме тех дат, что входят в специальные ценовые периоды, указанные ниже.<br>Для сохранения / изменения цены нажмите кнопку "Изменить цену"</p>
                        </details>
                    </div>
                </div>
            </div>
        </form>


        <!-- TODO: не хочет валидироваться -->
        <form method="POST" class="needs-validation" novalidate id="newPriceForm"
              th:action="'/prices/update/' + ${#authentication.getPrincipal().getUserId()} + '/' + ${stay.getId()}"
              th:object="${newPrice}">
            <div class="row" style="margin-bottom: 5px">
                <div class="col-md-3">
                    <h5>Специальные ценовые периоды</h5>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary" id="addPeriodButton" onclick="addPricePeriod()"
                            style="float: left">Добавить период</button>
                </div>
                <div class="col-md-6">
                    <details>
                        <summary>Инфо ценовые периоды</summary>
                        <p>Цена за сутки, которая используется для дат, входящих в специальные ценовые периоды, указанные ниже.<br>Для добавления нового ценового периода нажмите кнопку "Добавить период", а после заполнения полей - "Сохранить". Можно добавить по одному периоду за раз.<br>Дата начала периода должна быть меньше или равна дате конца периода. Удаление периода удаляет его безвозвратно.</p>
                    </details>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Начало периода</th>
                    <th scope="col">Конец периода</th>
                    <th scope="col">Цена</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody id="tableBody">
                <tr th:each="price : ${prices}">
                    <div th:unless="${price.getFromDate() == null && price.getToDate() == null}" th:value="${price.getPrice()}">
                        <td th:text="${#temporals.format(price.getFromDate(), 'dd.MM.yyyy')}"></td>
                        <td th:text="${#temporals.format(price.getToDate(), 'dd.MM.yyyy')}"></td>
                        <td th:text="${price.getPrice()}"></td>
                        <td>
                            <a th:href="'/prices/delete/' + ${#authentication.getPrincipal().getUserId()} + '/' +
                                ${stay.getId()} + '/' + ${price.getId()}" onclick="return confirm('Вы действительно ' +
                                 'хотите удалить цену?')">Удалить</a>
                        </td>
                    </div>
                </tr>
                </tbody>
            </table>

            <!--Error modal window Start-->
            <div th:if="${exception != null && exception != ''}" class="modal fade" id="addPeriodErrorModal"
                 tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" th:text="${exception}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Error modal window End-->


            <!--Pagination Start-->
            <!--        <div>-->
            <!--            <nav aria-label="Pagination" th:if="${pricesList.totalPages gt 1}">-->
            <!--                <ul class="pagination justify-content-center font-weight-bold">-->
            <!--                    <li class="page-item" th:classappend="${pricesList.number eq 0} ? 'disabled'">-->
            <!--                        <a class="page-link"-->
            <!--                           th:href="@{/pricesList?page={id}(id=${pricesList.number lt 2 ? 1 : prices.number})}"-->
            <!--                           aria-label="Previous" title="Предыдущая" data-toggle="tooltip">-->
            <!--                            <span aria-hidden="true">&laquo;</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li class="page-item" th:classappend="${i eq pricesList.number + 1} ? 'active'"-->
            <!--                        th:each="i : ${#numbers.sequence( 1, pricesList.totalPages, 1)}">-->
            <!--                        <a class="page-link" th:href="@{/pricesList?page={id}(id=${i})}" th:text="${i}"-->
            <!--                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>-->
            <!--                    </li>-->
            <!--                    <li class="page-item" th:classappend="${pricesList.number eq pricesList.totalPages - 1} ? 'disabled'">-->
            <!--                        <a class="page-link"-->
            <!--                           th:href="@{/pricesList?page={id}(id=${pricesList.number + 2})}"-->
            <!--                           aria-label="Next" title="Следующая" data-toggle="tooltip">-->
            <!--                            <span aria-hidden="true">&raquo;</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </nav>-->
            <!--        </div>-->
            <!--Pagination End-->

            <button type="button" class="btn btn-secondary" onclick="window.history.back()"
                    style="float: right">Назад</button>
        </form>
    </div>

</div>
</body>
</html>